*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Cabin","Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	background: url("../images/tiny_grid.png") repeat;
	padding: 20px;
}

.left_ribbon{
	margin-left: -20px;
	margin-bottom: 10px;
	background-color: #bace16;
	float: left;
}

.left_ribbon > *{
	margin-left: 20px;
	margin-right: 10px;
}

.left_ribbon + *{
   clear: both;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 56px;
}

h2{
	font-family: 'Lobster', cursive;
	font-size: 28px;
}

section{
	clear: both;
	margin-top: 10px;
}

span.team_name{
	font-family: 'Press Start 2P', sans-serif;
	color: #bace16;
}