* {
  margin: 0;
  padding: 0;
  z-index: 0;
  list-style: none; }

body {
  font-family: "Cabin", "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  background: #eee; }

#menu_wrap {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #444444;
  z-index: 1;
  -webkit-box-shadow: 0 0 3px 1px #333;
  -moz-box-shadow: 0 0 3px 1px #333;
  box-shadow: 0 0 3px 1px #333; }

#menu_wrap .logo {
  float: left;
  margin-right: 10px; }

#menu_wrap .item_list > * {
  float: left;
  height: 50px;
  margin-right: 20px;
  margin-top: 12px;
  font-size: 14pt;
  text-align: center;
  color: #bace16; }

#menu_wrap > :last-child:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

#canvas {
  position: relative;
  height: 800px;
  width: 80%;
  top: 160px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0 0 3px 1px #555;
  -moz-box-shadow: 0 0 3px 1px #555;
  box-shadow: 0 0 3px 1px #555; }

.draglibrary {
  position: absolute;
  width: 230px;
  height: 345px;
  right: 20px;
  top: 500px;
  padding-top: 5px;
  margin: 10px;
  background-color: #444444;
  border: .5px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #eeeeee; }

.menu {
  left: 5px;
  right: 5px;
  top: 30px;
  background-color: white;
  width: 220px;
  height: 310px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute; }

.draginteractions {
  width: 230px;
  height: 345px;
  background-color: #444444;
  border: .5px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
  color: #eeeeee;
  padding-top: 5px;
  margin: 10px;
  position: absolute;
  right: 20px;
  top: 145px; }
