* {
  margin: 0;
  padding: 0;
  z-index: 0;
  list-style: none;
  border-spacing: 0; }

body {
  font-family: "Cabin", "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  background: #eee; }

img {
  max-width: 100%; }

ul.horizontal:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  clear: both; }
ul.horizontal > * {
  float: left; }

#menu_wrap {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #444;
  z-index: 1;
  -webkit-box-shadow: 0 0 3px 1px #333333;
  -moz-box-shadow: 0 0 3px 1px #333333;
  box-shadow: 0 0 3px 1px #333333; }
  #menu_wrap .logo {
    float: left;
    margin-right: 10px; }
  #menu_wrap .item_list > * {
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: 12px;
    font-size: 14pt;
    text-align: center;
    color: #bace16; }
  #menu_wrap > :last-child:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

#workspace {
  position: relative;
  width: 100%;
  top: 50px;
  overflow: auto; }

#page {
  position: relative;
  height: 800px;
  width: 1000px;
  margin: 50px auto;
  background-color: white;
  -webkit-box-shadow: 0 0 3px 1px #555555;
  -moz-box-shadow: 0 0 3px 1px #555555;
  box-shadow: 0 0 3px 1px #555555; }

div.window {
  position: fixed;
  padding: 5px;
  text-align: center;
  color: #444;
  background-color: rgba(186, 206, 22, 0.5);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px 1px #555555;
  -moz-box-shadow: 0 0 3px 1px #555555;
  box-shadow: 0 0 3px 1px #555555; }
  div.window header:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    width: 0;
    clear: both; }
  div.window .title {
    margin-left: 5px;
    float: left; }
  div.window .window_actions {
    float: right; }
  div.window .content {
    position: absolute;
    top: 30px;
    bottom: 15px;
    right: 0;
    left: 0;
    background: #444;
    overflow: auto; }
    div.window .content .element_list {
      padding-top: 5px;
      color: #eee;
      font-size: 0.8em;
      text-align: center; }
      div.window .content .element_list li {
        display: inline-block;
        width: 100px;
        margin: 5px;
        text-align: center;
        -webkit-box-shadow: 0 0 3px 0 #eeeeee;
        -moz-box-shadow: 0 0 3px 0 #eeeeee;
        box-shadow: 0 0 3px 0 #eeeeee; }
        div.window .content .element_list li * {
          max-width: 100%; }
        div.window .content .element_list li .element {
          position: relative;
          top: 20px;
          margin: 0 auto;
          height: 60px;
          text-align: center; }
          div.window .content .element_list li .element.text_input input {
            width: 70px; }
          div.window .content .element_list li .element.button button {
            width: 70px; }
          div.window .content .element_list li .element.dropdown table {
            margin-left: 12px; }
          div.window .content .element_list li .element.dropdown tr {
            visibility: hidden; }
            div.window .content .element_list li .element.dropdown tr:first-of-type {
              visibility: visible; }
              div.window .content .element_list li .element.dropdown tr:first-of-type td {
                border-top: 1px solid black;
                border-bottom: 1px solid black; }
              div.window .content .element_list li .element.dropdown tr:first-of-type td:first-of-type {
                border-left: 1px solid black; }
              div.window .content .element_list li .element.dropdown tr:first-of-type td:last-of-type {
                border-right: 1px solid black; }
              div.window .content .element_list li .element.dropdown tr:first-of-type td:last-of-type {
                height: 20px;
                width: 20px;
                background: #eee;
                padding-left: 10px; }
                div.window .content .element_list li .element.dropdown tr:first-of-type td:last-of-type:after {
                  content: "";
                  display: block;
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 10px solid #bace16; }
          div.window .content .element_list li .element.image img {
            position: relative;
            width: 50%;
            bottom: 10px; }

#library {
  right: 20px;
  top: 250px;
  width: 230px;
  height: 345px; }

#interactions {
  right: 20px;
  top: 75px;
  width: 230px;
  height: 150px; }
