* {
  margin: 0;
  padding: 0;
  z-index: 0;
  list-style: none; }

body {
  font-family: "Cabin", "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  background: #eee; }

ul.horizontal > * {
  float: left; }
  ul.horizontal > *:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

#menu_wrap {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #444444;
  z-index: 1;
  -webkit-box-shadow: 0 0 3px 1px #333333;
  -moz-box-shadow: 0 0 3px 1px #333333;
  box-shadow: 0 0 3px 1px #333333; }
  #menu_wrap .logo {
    float: left;
    margin-right: 10px; }
  #menu_wrap .item_list > * {
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: 12px;
    font-size: 14pt;
    text-align: center;
    color: #bace16; }
  #menu_wrap > :last-child:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

#workspace {
  position: relative;
  width: 100%;
  top: 50px;
  overflow: auto; }

#page {
  position: relative;
  height: 800px;
  width: 1000px;
  margin: 50px auto;
  background-color: white;
  -webkit-box-shadow: 0 0 3px 1px #555555;
  -moz-box-shadow: 0 0 3px 1px #555555;
  box-shadow: 0 0 3px 1px #555555; }

.window {
  position: fixed;
  padding: 5px;
  text-align: center;
  color: #eee;
  background-color: #444;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 5px solid transparent;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .window header:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .window .title {
    margin-left: 5px;
    float: left; }
  .window .window_actions {
    float: right; }

#library {
  right: 60px;
  top: 270px;
  width: 230px;
  height: 345px; }

#interactions {
  right: 20px;
  top: 105px;
  width: 200px;
  height: 150px; }
